body{
  background-color:lawngreen;
}
h3{
  color:white;
}
.App{
  background-color: #896fc5;
  min-height:700px;
  width: 600px;
  margin: 40px auto;
}

#to-do-form input{
  background-color: lawngreen;
  border: 0; 
  color:white;
  width: 400px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
}
#to-do-form input::placeholder{
  color: white;
}
#to-do-form input:focus{
  outline: none;
}
#to-do-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color:lawngreen;
  cursor: pointer;
  color: white;

}
#to-do-form button:focus{
  outline: none;
}